:root {
    --main-buttons-color: #444;  /* sets the main color for buttons */
    --main-buttons-hover-color: #222;
    --card-background-color: #F5F5F5;
    --primary-color-translucent: #00DC00B2;
}

/* first section */
.first-section {
    height: 500px;                                                                  /* sets the height of the first section */
    position: relative;                                                             /* sets the position relative for absolute positioning below */
    background-image: linear-gradient(90deg, var(--primary-color-translucent) 0%, var(--primary-color) 100%), url('../images/bg-code.png');
}

.first-section h2 {
    position: absolute;  /* positions the using the below constraints */
    top: 30px;           /* places the heading 30px from the top */
    left: 30px;          /* places the heading 30px from the left */
    font-size: 48px;     /* sets a large font size for the heading */
}

.first-section #main-buttons-container {
    position: absolute;  /* positions the using the below constraints */
    bottom: 45px;        /* places the container 45px from the bottom */
    right: 30px;         /* places the container 30px from the right */
}

#main-buttons-container > a {
    background-color: var(--main-buttons-color);  /* applies the main button color */
    padding: 15px;                                /* adds padding inside the buttons */
    border-radius: 10px;                          /* rounds the corners of the buttons */
    text-decoration: none;                        /* removes the underline from links */
    color: white;                               /* sets the button text color to white */
    font-weight: normal;                            /* makes the button text bold */
}

#main-buttons-container > a:hover {
    background-color: var(--main-buttons-hover-color);
}

.first-section a:first-child {
    margin-right: 10px;  /* adds space to the right of the first button */
}

/* cards */
.cards-container {
    display: flex;  /* displays the cards in a flex container */
}

.card {
    background-color: var(--card-background-color);                /* sets a light grey background for the cards */
    margin: 10px;                            /* adds a margin around each card */
    border-radius: 10px;                     /* rounds the corners of each card */
    text-align: center;                      /* centers text inside the card */
    padding: 5px;                            /* adds padding inside the card */
    border: 2px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* background styling for bordered divs */
div.bordered {
    padding: 50px;
    background-image: url('../images/corner-tl.png'), url('../images/corner-br.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50px 50px, 50px, 50px;
}

/* about us */
#about-us img {
    float: left;
    width: 100px;
    height: 100px;
    padding: var(--default-padding);
}
