/*

classes should be denoted
    element.class

ids should be denoted
    #id

*/

:root {
    --main-buttons-color: #444;  /* sets the main color for buttons */
    --main-buttons-hover-color: #222;
    --card-background-color: #F5F5F5;
    --primary-color-translucent: #00DC00B2;
    --header-internal-pad: 60px;
}

/* heading section */
section.heading-section {
    height: 500px;                                                                  /* sets the height of the first section */
    position: relative;                                                             /* sets the position relative for absolute positioning below */
    background-image: linear-gradient(90deg, var(--primary-color-translucent) 0%, var(--primary-color) 100%), url('../images/bg-code.png');
    background-size: auto, cover;  /* show more of the background image */
}

/* heading section - title */
section.heading-section h2 {
    position: absolute;  /* positions the using the below constraints */
    top: var(--header-internal-pad);           /* places the heading 30px from the top */
    left: var(--header-internal-pad);          /* places the heading 30px from the left */
    font-size: 3.5rem;     /* sets a large font size for the heading */
    padding: 0;
}

/* heading section - first button */
section.heading-section a:first-child {
    margin-right: 10px;  /* adds space to the right of the first button */
}

/* heading section - div containing button */
#main-buttons-container {
    position: absolute;  /* positions the using the below constraints */
    bottom: var(--header-internal-pad);        /* places the container 45px from the bottom */
    right: var(--header-internal-pad);         /* places the container 30px from the right */
}

/* heading section - actual anchor buttons */
#main-buttons-container > a {
    background-color: var(--main-buttons-color);  /* applies the main button color */
    padding: 15px;                                /* adds padding inside the buttons */
    border-radius: 10px;                          /* rounds the corners of the buttons */
    text-decoration: none;                        /* removes the underline from links */
    color: white;                               /* sets the button text color to white */
    font-weight: normal;                          /* makes the button text bold */
    display: inline-block;
}

/* heading section - anchor buttons on hover */
#main-buttons-container > a:hover {
    background-color: var(--main-buttons-hover-color);
}

div.section-div-content > p {
    margin: 0;
}

/* cards */

.card {
    background-color: var(--card-background-color);                /* sets a light grey background for the cards */
    margin: 10px;                            /* adds a margin around each card */
    border-radius: 10px;                     /* rounds the corners of each card */
    text-align: center;                      /* centers text inside the card */
    padding: 5px;                            /* adds padding inside the card */
    border: 2px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    flex: 1;
    max-width: 300px;
}

/* background styling for bordered divs */
div.bordered {
    padding: 50px;
    background-image: url('../images/corner-tl.png'), url('../images/corner-br.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50px 50px, 50px, 50px;
}

/* about us */
#about-us img {
    float: left;
    width: 100px;
    height: 100px;
    padding: var(--default-padding);
}

#why-choose-us img {
    width: 100px;
    height: 100px;
}

#why-choose-us h3.section-div-title {
    text-align: center;
}

div.card > * {
    margin: 5px;
}

div.card > h4 {
    font-weight: normal;
    font-size: 1.5rem;
}

/* space out section divs */
main > section > div {
    margin: 70px 50px;
}

.section-div-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
